// Icons
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
      fill: $grey-color;
    }
  }
}

article {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  padding-top: 20px;
  color: #D2D2D2;
}

.programs {
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

.author-photo {
  max-width: 150px;
}
.blog-info-col {
  margin-top: 20px;
  .d-block {
    margin: 0;
    padding: 20px 0;
    border-bottom: solid $grey-color-light 1px;
  }
  .d-block:last-child {
    border-bottom: 0;
  }
}
