//CAROUSEL
.carousel {
  max-height: 300px;
  overflow: hidden;
  .carousel-inner {
    .carousel-item {
      background: black;
      img {
        opacity: 0.8;
      }
    }
  }
  .carousel-caption {
    top: 25px;
    bottom: auto;
    h2, p {
      text-shadow: 0px 0px 5px rgba(33, 33, 33, 1);
    }
  }
}


//NAVBAR
.navbar {
  padding: 0;
}
.navbar-nav {
  .nav-item {
    border-right: solid $grey-color 1px;
    .nav-link {
      padding: 8px 20px;
    }
  }
  .nav-item:first-child {
    border-left: solid $grey-color 1px;
  }
  .nav-item:last-child {
    margin-right: 15px;
  }
}

// AUDIO CONTROL
audio {
  margin-top: 10px;
  width: 300px;
  height: 30px;
}
audio::-webkit-media-controls-enclosure {
  background: $grey-color-light;
}

//CARDS
.card-deck {
  margin-top: 20px;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cards-equal-height > div[class*='col-'] {
  display: flex;
  flex:1 0 auto;
}

.img-300 {
  .card-img-top {
    height: 300px;
    object-fit: cover;
  }
}

//TAGS
.post-tag {
  display: inline-block;
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  color: $white;
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
  font-size: 90%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0.9;
}
.post-tag:before {
  content: "\f02b";
  font-family: FontAwesome;
  padding-right: .5em;
}
.post-tag:hover {
  text-decoration: none;
  color: $white;
  opacity: 1;
}